@page "/"

@inherits ClientBase

<Banner BannerTitleParameter="@this.BannerTitleValue" AppNameParameter="@this.AppNameValue" />

<div class="BackgroundImg">
    <div class="BannerLowerTint pad_top_bottom_30">
        <div class="grid_center">
            <h4 class="TextThemeA text_center">MicroTech</h4>
            <hr class="hr_a margin_top_bottom_20 width_40" />
        </div>

        <p class="pad_bottom_50 text_normal TextContainerDefault">
            Welcome to MicroTech Text to be added here...
        </p>

        <div class="container_grid_1 container_default main_max_width_default">

            <div class="ImageButtonContainer pad_bottom_50">
                <NavLink href="@PageRoute.MicroTechSecurity" class="ImgLinkThemeA text_center"></NavLink>
                <h5 class="pad_top_bottom_15 text_center letter_spacing_0_2">Start</h5>

                <p class="pad_left_right">
                    Many businesses lack internal networking expertise, especially cyber security.
                    We are committed to resolving your IT problems; all you need to do is focus on running your business. Our highly skilled IT specialists will take care of the IT part of your business.
                </p>
                <br />
                <p class="pad_left_right">
                    Our engineers not only resolve day-to-day issues but also look at your overall business processes and are able to suggest better practices and infrastructure solutions to help keeping your network operating smoothly and securely.
                </p>
                <br />
                <p class="pad_left_right">
                    Our engineers not only resolve day-to-day issues but also look at your overall business processes and are able to suggest better practices and infrastructure solutions to help keeping your network operating smoothly and securely.
                </p>
                <br />
                <p class="pad_left_right">
                    Our engineers not only resolve day-to-day issues but also look at your overall business processes and are able to suggest better practices and infrastructure solutions to help keeping your network operating smoothly and securely.
                </p>
                <br />
                <p class="pad_left_right">
                    Our engineers not only resolve day-to-day issues but also look at your overall business processes and are able to suggest better practices and infrastructure solutions to help keeping your network operating smoothly and securely.
                </p>
                <br />
                <p class="pad_left_right">
                    Our engineers not only resolve day-to-day issues but also look at your overall business processes and are able to suggest better practices and infrastructure solutions to help keeping your network operating smoothly and securely.
                </p>
                <br />
                <p class="pad_left_right">
                    Our engineers not only resolve day-to-day issues but also look at your overall business processes and are able to suggest better practices and infrastructure solutions to help keeping your network operating smoothly and securely.
                </p>
                <br />
                <p class="pad_left_right">
                    Our engineers not only resolve day-to-day issues but also look at your overall business processes and are able to suggest better practices and infrastructure solutions to help keeping your network operating smoothly and securely.
                </p>
            </div>

        </div>
    </div>
</div>

<div class="page-top">
    <NavLink href="@PageRoute.MicroTech" class="top"></NavLink>
</div>

@*gggggggggggggggggggggggggggg*@


@*<Card>
    <CardHeader ElementType="ElementType.H4">
        This is the header content
    </CardHeader>

    <CardBody>
        <CardTitle>Title of the first card body</CardTitle>

        <CardText>This is some body text: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</CardText>
        <CardLink Target="#">First link</CardLink>
        <CardText>Some more body text: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</CardText>
        <CardLink Target="#">Second link</CardLink>
    </CardBody>

    <CardBody>
        <CardTitle>Title of the second body</CardTitle>
        <CardText>Here is a second body: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</CardText>
    </CardBody>

    <CardFooter>
        This is the footer content
    </CardFooter>
</Card>*@

@*
<Card>
        <CardHeader ElementType="ElementType.H4">
            This is the header content
        </CardHeader>

        <CardBody>
            <CardText>This is some body text: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</CardText>
            <CardLink Target="#">First link</CardLink>
            <CardText>Some more body text: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</CardText>
            <CardLink Target="#">Second link</CardLink>
            <CardTitle>Title of the first card body</CardTitle>
        </CardBody>

        <CardFooter>
            This is the footer content
        </CardFooter>

        <CardBody>
            <CardTitle>Title of the second body</CardTitle>
            <CardText>Here is a second body: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</CardText>
        </CardBody>
</Card>
*@
