@page "/MicroTech/Security"

@inherits ClientBase

<Banner BannerTitleParameter="@this.BannerTitleValue" AppNameParameter="@this.AppNameValue" />

<div class="BackgroundImg">
    <div class="BannerLowerTint pad_top_bottom_30">

        <div class="grid_center">
            <h4 class="TextThemeA text_center">Websites &amp; Web Apps </h4>
            <hr class="hr_a margin_top_bottom_20 width_40" />
        </div>

        <div class="container_default main_max_width_default">
            <div class="pad_left_right pad_bottom_50 max_width_50 text_normal item_a">
                <h4 class="TextThemeA pad_bottom_10">
                    Our Services
                </h4>
                <p>
                    We specialise in providing high quality services that small businesses and individuals need to establish and maintain a successful online presence. We design and develop mobile-friendly websites and Apps for all devices.
                </p>
            </div>
            <div class="pad_left_right pad_bottom_50 max_width_50 text_normal item_b">
                <h4 class="TextThemeA pad_bottom_10">Website Management</h4>
                <p>
                    We provide an affordable website maintenance and management services to help keep your website functioning optimally.
                </p>
            </div>
        </div>

        <hr class="margin_bottom_40" />

        <div class="container_default main_max_width_default">
            <div class="pad_left_right pad_bottom_50 max_width_50 text_normal item_a">
                <h4 class="TextThemeA pad_bottom_10">Mobile Friendly Websites</h4>
                <p>
                    Whatever the nature of your business it is important to be online. Though merely having a website is not enough; your website needs to be mobile-friendly because most users will visit your website using their mobile phones and other mobile devices. We design and develop beautiful custom mobile friendly websites and Web Apps using cross-platform technologies such as Blazor, Vue.JS and Angular. We can also make your existing website mobile friendly.
                </p>
            </div>
            <div class="pad_left_right pad_bottom_50 max_width_50 text_normal item_b">
                <h4 class="TextThemeA pad_bottom_10">
                    Full-Stack Web Development
                </h4>
                <p>
                    With us you get professionals who provide full solutions; we do full-stack Web and other software development, including front-end, server-side development, and website maintenance services. If you need your old website updated, we can do that for you. We can update old websites to make them responsive and mobile-friendly, giving these websites the necessary edge required to reach the lucrative mobile customer / client base market.
                </p>
            </div>
        </div>

        <hr class="margin_bottom_40" />

        <div class="container_default main_max_width_default">
            <div class="pad_left_right pad_bottom_50 max_width_50 text_normal item_a">
                <h4 class="TextThemeA pad_bottom_10">Reach More Users</h4>
                <p>
                    If your website only functions well on desktop computers then you are in fact missing the larger majority of your potential customers because they are more likely using some sort of mobile device "most commonly a mobile phone," to perform their online tasks, whether for fun or business. The important thing to note is that mobile friendly websites are also friendly for desktop computers so all users benefit from having responsive mobile friendly websites.
                </p>
            </div>
            <div class="pad_left_right pad_bottom_50 max_width_50 text_normal item_b">
                <h4 class="TextThemeA pad_bottom_10">
                    Online Strategy
                </h4>
                <p>
                    It goes without saying that user expectations are high, so including Web Apps as part of your online strategy, will go a long way in impressing users. By presenting them with this added way of connecting with your business, you will accomplish the goal of significantly increasing your online presence; every user you reach is a potential customer.
                </p>
            </div>
        </div>

        <hr class="margin_bottom_40" />

        <div class="container_default main_max_width_default">
            <div class="pad_left_right pad_bottom_50 max_width_50 text_normal item_a">
                <h4 class="TextThemeA pad_bottom_10">
                    Beautiful Email Design
                </h4>
                <p>
                    Email Marketing is a great way to help promote your business so having elegant email that your potential / existing clients / customers want to read is an important requirement so let us design and develop modern HTML email for you.
                </p>
            </div>
            <div class="pad_left_right pad_bottom_50 max_width_50 text_normal item_b">
                <h4 class="TextThemeA pad_bottom_10">
                    Elegant Designs
                </h4>
                <p>
                    We specialise in visual designs such as business cards, brochures, banners, icons, logos, websites and Apps. Please get in touch to see how we can help you.
                </p>
            </div>
        </div>

        <hr class="margin_bottom_40" />

        <div class="container_default main_max_width_default">
            <div class="pad_left_right pad_bottom_50 max_width_50 text_normal item_a">
                <h4 class="TextThemeA pad_bottom_10">
                    App Development
                </h4>
                <p>
                    We develop Apps for all devices so if you want to provide your customers with an App to your business we can do that. You are not limited to just business Apps because we develop Apps that are also just for fun and social interactions. We develop Apps for the Web, mobile devices and for the Desktop.
                </p>
            </div>
            <div class="pad_left_right pad_bottom_50 max_width_50 text_normal item_b">
                <h4 class="TextThemeA pad_bottom_10">
                    Here to Help
                </h4>
                <p>
                    We are here to help; we provide custom services, from initial consultation through to design, development and maintenance. Our services are affordable and you are always in control to choose the service you want / need.
                </p>
            </div>
        </div>

    </div>
</div>

<div class="page-top">
    <NavLink href="@PageRoute.MicroTechSecurity" class="top"></NavLink>
</div>
