@page "/MicroTech/About"

@inherits ClientBase

<Banner BannerTitleParameter="@this.BannerTitleValue" AppNameParameter="@this.AppNameValue" />

<div class="container BackgroundImg">
    <div class="BannerLowerTint pad_top_bottom_30">

        <div class="grid_center">
            <h4 class="TextThemeA text_center">About Us</h4>
            <hr class="hr_a margin_top_bottom_20 width_40" />
        </div>

        <div class="container_default main_max_width_default">
            <div class="pad_left_right pad_bottom_50 max_width_50 text_normal item_a">
                <h4 class="TextThemeA pad_bottom_10">Who Are We</h4>
                <p>
                    We are professional software developers that specialise in producing beautiful websites and Apps. We take pride in being experts at what we do so we keep informed about technology to maintain relevance and competence.
                </p>
            </div>

            <div class="pad_left_right pad_bottom_50 max_width_50 text_normal item_b">
                <h4 class="TextThemeA pad_bottom_10">What We Do</h4>
                <p>
                    We develop custom Web Apps, mobile Apps and desktop Apps using modern technologies. We also do Design work and provide software related computer support.
                </p>
            </div>

            <div class="pad_left_right pad_bottom_50 max_width_50 text_normal item_a">
                <h4 class="TextThemeA pad_bottom_10">Development Services</h4>
                <p>
                    We provides what small businesses and individuals need to establish and maintain a successful online presence. We are here to help you by providing the custom services you need, from the initial consultation through to design, development and maintenance. Our services are affordable and you are always in control to choose the service you want.
                </p>
            </div>
        </div>

        <hr class="margin_bottom_40" />

        <div class="container_default main_max_width_default">
            <div class="pad_left_right pad_bottom_50 max_width_50 text_normal item_a">
                <h4 class="TextThemeA pad_bottom_10">
                    Professional Designers
                </h4>
                <p>
                    As professional designers and software developers we produce beautiful and functionally correct solutions, tailored specifically to their business needs. We will advise you honestly to ensure that you get the best value service(s). We understand the value of honest service so get in touch to see what we can do for you.
                </p>
            </div>

            <div class="pad_left_right pad_bottom_50 max_width_50 text_normal item_b">
                <h4 class="TextThemeA pad_bottom_10">
                    Quality Service
                </h4>
                <p>
                    We listen to our clients to ensure that we understand what is required so that we can provide the right solutions. The uniqueness of each business is integral to its identity and brand so we always personalise our services and solutions to clients’ requirements to guarantee that what we deliver is always high quality.
                </p>
            </div>

            <div class="pad_left_right pad_bottom_50 max_width_50 text_normal item_a">
                <h4 class="TextThemeA pad_bottom_10">
                    Effective Solutions
                </h4>
                <p>
                    We are committed and well equipped to handle our clients’ needs whether small or large; our aim is to always deliver appropriate and effective solutions.
                </p>
            </div>
        </div>


    </div>
</div>

<div class="page-top">
    <NavLink href="@PageRoute.MicroTechAbout" class="top"></NavLink>
</div>
