
<p>@this.HttpImageUploaderService.Message</p>
<div class="form_group">
    <div class="custom_file">
        <h4 class="control_label">Add Image</h4>
        <InputFile OnChange="this.HandleSelected" accept="image/png, image/jpeg, image/gif" id="inputFile" class="file_input btn edit_form_btn_theme_blue_d btn_sm width_100_pc" multiple />
    </div>
</div>

@if(this.ImgUrl != null)
{
    <div class="card">
        <div class="card_body">
            <p class="card_text">
                <img src="@this.ImgUrl" style="width:100px" />
            </p>
        </div>
    </div>
}

