@page "/MicroTech/guest"

@inherits ContactBase

<Banner BannerTitleParameter="@this.BannerTitleValue" AppNameParameter="@this.AppNameValue" />

<div class="page-top">
    <NavLink href="@PageRoute.MicroTechGuest" class="top"></NavLink>
</div>
